<h1 class="text-center my-4">Search Results</h1>

<div class="container">
  <div class="row">
    <% @search_results.each_with_index do |cloth, index| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100 text-center">
          <%= image_tag cloth.cloth_image, class: "card-img-top", height: "200", width: "100%" %>
          <div class="card-body">
            <h5 class="card-title"><%= cloth.name %></h5>
            <p class="card-text">
              <strong>Brand:</strong> <%= cloth.brand %><br>
              <strong>Price:</strong> $<%= cloth.price %>
            </p>
          </div>
          <div class="card-footer">
            <%= button_to 'Add to Cart', line_items_path(store_id: cloth.id), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <%# Start a new row every 3 columns %>
      <% if (index + 1) % 3 == 0 %>
        </div><div class="row">
      <% end %>
    <% end %>
  </div>
</div>
